@font-face{
    font-family: 'Comfortaa-Bold';
    src: url(../fonts/Comfortaa/Comfortaa-Bold.ttf);
}
@font-face{
    font-family: 'Comfortaa-Regular';
    src: url(../fonts/Comfortaa/Comfortaa-Regular.ttf);
}
@font-face{
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face{
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face{
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face{
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}