@media (max-width: 1200px){
  .item2{
    grid-column: span 4;
  }
  .item3{
    grid-column: span 2;
    grid-row: span 4;
  }

}


@media (max-width: 700px){
  .uu{
    grid-column: span 4;
  }
}

@media (max-width: 900px){
  .item3{
    grid-column: span 2;
    grid-row: span 4;
  }
}



@media (max-width: 670px){
  .footer__content{
    flex-direction: column;
  }
  .footer__left{
    padding-top: 25px;
  }
}
  
@media (max-width: 640px){
  .header__title{
    font-size: 61px;
  }
}

@media (max-width: 576px){
  .nav__link-logo{
    flex-direction: column;
    display: flex;
  }
}


@media (max-width: 510px){
  .me{
    font-size: 47px;
  }
}

@media (max-width: 490px){
  .nav__link{
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
}


@media (max-width: 450px){
  .nav__list-a{
    font-size: 13px;
  }
  .btn1{
    margin: 0 auto;
    display: block;
    max-width: max-content; 
  }
}

@media (max-width: 410px){
  .header__btns{
    flex-direction: column;
    max-width: max-content;
    row-gap: 30px;
    justify-content: center;
    margin: 0 auto;
  }
}

@media (max-width: 400px){
  .header__title{
    font-size: 55px;
  }
  
  .me{
    font-size: 42px;
  }
}

@media (max-width: 350px){
  .me{
    font-size: 37px;
  }
}

@media (max-width: 360px){
  .header__title{
    font-size: 50px;
  }
  .header__subtitle{
    font-size: 14px;
  }
}

@media (max-width: 330px){
  .header__title{
    font-size: 46px;
  }
}
